In [1]:
import pandas as pd
import numpy as np


dictionary = {'Name': ['Tom', 'Jack', 'Steve', 'Ricky'], 'Age': [28, 34, 29, 42], 'Rating': [4.23, 3.24, 3.98, 2.56] , 'City': ['New York', 'Paris', 'London', 'Mumbai'] , 'Country': ['USA', 'France', 'UK', 'India'] , 'Profession': ['Engineer', 'Scientist', 'Lawyer', 'Doctor']}
df = pd.DataFrame(dictionary)
print(df)

    Name  Age  Rating      City Country Profession
0    Tom   28    4.23  New York     USA   Engineer
1   Jack   34    3.24     Paris  France  Scientist
2  Steve   29    3.98    London      UK     Lawyer
3  Ricky   42    2.56    Mumbai   India     Doctor

In [3]:
df = pd.read_csv("https://gist.githubusercontent.com/amytildazhang/9608982/raw/f8ae6468e24fb95a727fc801653721c2d5c097bc/stats.csv")
print(df)

        name   HP  HPinc   HP5  HP5inc   MP  MPinc    MP5  MP5inc     AD  ...  \
0     aatrox  397     85  5.75    0.50   30   45.0   0.00   0.000  55.00  ...
1       ahri  380     80  5.50    0.60  230   50.0   6.25   0.600  50.00  ...
2      akali  445     85  7.25    0.65  200    0.0  50.00   0.000  53.00  ...
3    alistar  442    102  7.25    0.85  215   38.0   6.45   0.450  55.03  ...
4      amumu  472     84  7.45    0.85  220   40.0   6.50   0.525  47.00  ...
..       ...  ...    ...   ...     ...  ...    ...    ...     ...    ...  ...
110      zac  455     95  7.00    0.55    0    0.0   0.00   0.000  54.00  ...
111      zed  445     80  6.00    0.65  200    0.0  50.00   0.000  49.00  ...
112    ziggs  390     80  5.25    0.60  250   50.0   6.75   0.600  51.00  ...
113   zilean  380     71  4.60    0.50  260   60.0   6.95   0.650  48.60  ...
114     zyra  355     74  4.85    0.50  250   50.0   7.10   0.750  50.00  ...

      MS  Range  HP_MAX  HP5_MAX  MP_MAX  MP5_MAX  AD_MAX  AS_MAX  AR_MAX  \
0    345    150  1925.0    14.75     840     0.00  112.60  54.651   82.40
1    330    550  1820.0    16.30    1130    17.05  104.00  36.668   74.00
2    350    125  1975.0    18.95     200    50.00  110.60  56.494   79.50
3    330    125  2278.0    22.55     899    14.55  120.19  38.875   77.50
4    335    125  1984.0    22.75     940    15.95  115.40  39.878   77.40
..   ...    ...     ...      ...     ...      ...     ...     ...     ...
110  335    125  1885.0    15.90       0     0.00  114.75  29.438   77.00
111  345    125  1830.0    16.95     200    50.00  110.20  56.458   80.00
112  330    575  1658.0    15.40    1150    17.55  106.80  36.656   71.40
113  335    600  1687.0    13.85    1340    18.65  102.60  38.965   75.15
114  325    575     NaN     9.00    1150    20.60  107.60  38.605   65.00

     MR_MAX
0      52.5
1      30.0
2      52.5
3      52.5
4      52.5
..      ...
110    52.5
111    52.5
112    30.0
113    30.0
114    30.0

[115 rows x 27 columns]

In [4]:
head = df.head()
print(head)

      name   HP  HPinc   HP5  HP5inc   MP  MPinc    MP5  MP5inc     AD  ...  \
0   aatrox  397     85  5.75    0.50   30   45.0   0.00   0.000  55.00  ...
1     ahri  380     80  5.50    0.60  230   50.0   6.25   0.600  50.00  ...
2    akali  445     85  7.25    0.65  200    0.0  50.00   0.000  53.00  ...
3  alistar  442    102  7.25    0.85  215   38.0   6.45   0.450  55.03  ...
4    amumu  472     84  7.45    0.85  220   40.0   6.50   0.525  47.00  ...

    MS  Range  HP_MAX  HP5_MAX  MP_MAX  MP5_MAX  AD_MAX  AS_MAX  AR_MAX  \
0  345    150  1925.0    14.75     840     0.00  112.60  54.651    82.4
1  330    550  1820.0    16.30    1130    17.05  104.00  36.668    74.0
2  350    125  1975.0    18.95     200    50.00  110.60  56.494    79.5
3  330    125  2278.0    22.55     899    14.55  120.19  38.875    77.5
4  335    125  1984.0    22.75     940    15.95  115.40  39.878    77.4

   MR_MAX
0    52.5
1    30.0
2    52.5
3    52.5
4    52.5

[5 rows x 27 columns]

In [5]:
print(df.columns)
print(df.info())

Index(['name', 'HP', 'HPinc', 'HP5', 'HP5inc', 'MP', 'MPinc', 'MP5', 'MP5inc',
       'AD', 'ADinc', 'AS', 'ASinc', 'AR', 'ARinc', 'MR', 'MRinc', 'MS',
       'Range', 'HP_MAX', 'HP5_MAX', 'MP_MAX', 'MP5_MAX', 'AD_MAX', 'AS_MAX',
       'AR_MAX', 'MR_MAX'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 27 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     115 non-null    object
 1   HP       115 non-null    int64
 2   HPinc    115 non-null    int64
 3   HP5      115 non-null    float64
 4   HP5inc   115 non-null    float64
 5   MP       115 non-null    int64
 6   MPinc    115 non-null    float64
 7   MP5      115 non-null    float64
 8   MP5inc   115 non-null    float64
 9   AD       115 non-null    float64
 10  ADinc    115 non-null    float64
 11  AS       115 non-null    float64
 12  ASinc    115 non-null    float64
 13  AR       115 non-null    float64
 14  ARinc    115 non-null    float64
 15  MR       115 non-null    int64
 16  MRinc    115 non-null    float64
 17  MS       115 non-null    int64
 18  Range    115 non-null    int64
 19  HP_MAX   114 non-null    float64
 20  HP5_MAX  115 non-null    float64
 21  MP_MAX   115 non-null    int64
 22  MP5_MAX  115 non-null    float64
 23  AD_MAX   115 non-null    float64
 24  AS_MAX   115 non-null    float64
 25  AR_MAX   115 non-null    float64
 26  MR_MAX   115 non-null    float64
dtypes: float64(19), int64(7), object(1)
memory usage: 24.4+ KB
None

In [6]:
print(df.describe)

<bound method NDFrame.describe of         name   HP  HPinc   HP5  HP5inc   MP  MPinc    MP5  MP5inc     AD  ...  \
0     aatrox  397     85  5.75    0.50   30   45.0   0.00   0.000  55.00  ...
1       ahri  380     80  5.50    0.60  230   50.0   6.25   0.600  50.00  ...
2      akali  445     85  7.25    0.65  200    0.0  50.00   0.000  53.00  ...
3    alistar  442    102  7.25    0.85  215   38.0   6.45   0.450  55.03  ...
4      amumu  472     84  7.45    0.85  220   40.0   6.50   0.525  47.00  ...
..       ...  ...    ...   ...     ...  ...    ...    ...     ...    ...  ...
110      zac  455     95  7.00    0.55    0    0.0   0.00   0.000  54.00  ...
111      zed  445     80  6.00    0.65  200    0.0  50.00   0.000  49.00  ...
112    ziggs  390     80  5.25    0.60  250   50.0   6.75   0.600  51.00  ...
113   zilean  380     71  4.60    0.50  260   60.0   6.95   0.650  48.60  ...
114     zyra  355     74  4.85    0.50  250   50.0   7.10   0.750  50.00  ...

      MS  Range  HP_MAX  HP5_MAX  MP_MAX  MP5_MAX  AD_MAX  AS_MAX  AR_MAX  \
0    345    150  1925.0    14.75     840     0.00  112.60  54.651   82.40
1    330    550  1820.0    16.30    1130    17.05  104.00  36.668   74.00
2    350    125  1975.0    18.95     200    50.00  110.60  56.494   79.50
3    330    125  2278.0    22.55     899    14.55  120.19  38.875   77.50
4    335    125  1984.0    22.75     940    15.95  115.40  39.878   77.40
..   ...    ...     ...      ...     ...      ...     ...     ...     ...
110  335    125  1885.0    15.90       0     0.00  114.75  29.438   77.00
111  345    125  1830.0    16.95     200    50.00  110.20  56.458   80.00
112  330    575  1658.0    15.40    1150    17.55  106.80  36.656   71.40
113  335    600  1687.0    13.85    1340    18.65  102.60  38.965   75.15
114  325    575     NaN     9.00    1150    20.60  107.60  38.605   65.00

     MR_MAX
0      52.5
1      30.0
2      52.5
3      52.5
4      52.5
..      ...
110    52.5
111    52.5
112    30.0
113    30.0
114    30.0

[115 rows x 27 columns]>

In [9]:
print(df["name"])

0       aatrox
1         ahri
2        akali
3      alistar
4        amumu
        ...
110        zac
111        zed
112      ziggs
113     zilean
114       zyra
Name: name, Length: 115, dtype: object

In [13]:
print(df.loc[:3, "HP":"HP5"])

    HP  HPinc   HP5
0  397     85  5.75
1  380     80  5.50
2  445     85  7.25
3  442    102  7.25

In [16]:
filter = df.HP > 400
df["bool"] = filter
print(df.loc[:, ["HP", "bool"]])

      HP   bool
0    397  False
1    380  False
2    445   True
3    442   True
4    472   True
..   ...    ...
110  455   True
111  445   True
112  390  False
113  380  False
114  355  False

[115 rows x 2 columns]

In [19]:
filter2 = df.Range > 200
rangedChampions = df[filter&filter2]
print(rangedChampions)

           name   HP  HPinc  HP5  HP5inc   MP  MPinc    MP5  MP5inc     AD  \
17       draven  420     82  5.0    0.70  240   42.0   6.95    0.65  46.50
28       graves  410     84  5.5    0.70  255   40.0   6.75    0.70  51.00
41       kennen  403     79  4.5    0.65  200    0.0  50.00    0.00  47.00
43       kogmaw  440     84  5.0    0.55  255   40.0   7.50    0.70  46.00
49         lulu  415     82  5.0    0.60  200   55.0   5.00    0.50  44.00
55  missfortune  435     85  5.1    0.65  212   38.0   6.95    0.65  46.50
57      morgana  403     86  4.7    0.60  240   60.0   6.80    0.65  51.58
90       thresh  411     89  6.0    0.55  200   44.0   5.00    0.70  46.00
91     tristana  415     82  5.1    0.65  193   32.0   6.45    0.45  46.50
97        urgot  437     89  5.5    0.60  220   55.0   7.50    0.65  48.00

    ...  Range  HP_MAX  HP5_MAX  MP_MAX  MP5_MAX  AD_MAX  AS_MAX  AR_MAX  \
17  ...    550  1896.0    17.60     996    18.65  109.50  49.279    75.4
28  ...    525  1922.0    18.10     975    19.35  106.80  52.825    72.6
41  ...    550  1825.0    16.20     200    50.00  106.40  61.890    81.5
43  ...    500  1952.0    14.90     975    20.10  100.00  48.365    73.0
49  ...    550  1767.0    15.30    1190    14.00   90.80  41.125    75.6
55  ...    550  1861.0    19.15     896    18.65  100.50  54.836    69.0
57  ...    425  1697.0    15.30    1320    18.50  114.58  28.119    83.4
90  ...    475  1891.0    15.00     992    17.60   85.60  18.625    12.0
91  ...    550  2183.0    19.70     769    14.55  100.50  72.656    69.0
97  ...    425  1876.0    15.30    1210    19.20  112.80  52.844    74.4

    MR_MAX  bool
17    30.0  True
28    30.0  True
41    30.0  True
43    30.0  True
49    30.0  True
55    30.0  True
57    30.0  True
90    30.0  True
91    30.0  True
97    30.0  True

[10 rows x 28 columns]

In [20]:
df.columns = [each.lower() for each in df.columns]
print(df.columns)

Index(['name', 'hp', 'hpinc', 'hp5', 'hp5inc', 'mp', 'mpinc', 'mp5', 'mp5inc',
       'ad', 'adinc', 'as', 'asinc', 'ar', 'arinc', 'mr', 'mrinc', 'ms',
       'range', 'hp_max', 'hp5_max', 'mp_max', 'mp5_max', 'ad_max', 'as_max',
       'ar_max', 'mr_max', 'bool'],
      dtype='object')